body{
	background-color: #111;
}
.navbar-brand img {
    height: 25px;
    margin-left: 20px;
}

.navbar-collapse {
    margin-right: 75px;
}

.tt{
	color: #fff;
    margin-right: 20px;
    font-size: 10pt;
}
.a3{
	margin-top: -4%;
	width: 33.33%;
	float: left;
}
.a4{
	margin-top: -4%;
	width: 66.66%;
	float: right;
}
.a5,.a6,.a7{
	width: 33.33%;
	float: left;
}
.a8{
	width: 66.66%;
	float: left;
}
.q3{
	width: 33.33%;
	float: right;
}
.q5,.q7{
	width: 33.346%;
	float: left;
}
.ttt{
	width: 33.3%;
	float: right;
}

.price_header{
	margin-top: -4%;
	width: 100%;
}
.sidebar-buttom{
	text-align: center;
}
.sidebar{
	color: #fff;
	font-size: 10pt;
	text-align: center;
	margin:10px;
	letter-spacing: 0.2em;	
}
.price_left{
	width: 55%;
}
