body {
    background-color: #111;
}

@font-face {
    font-family: Audi_normal;
    src: url(../font/AudiTypeV01-ExtendedNormal.otf);
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-brand img {
    height: 25px;
    margin-left: 20px;
}

.menu_title {
    float: right;
    margin-right: 30px;
}

.tt {
    color: #fff;
    margin-left: 20px;
    font-size: 10pt;
    font-family: Audi_normal;
}

.a3 {
    margin-top: -4%;
    width: 33.33%;
    float: left;
}

.a4 {
    margin-top: -4%;
    width: 66.66%;
    float: right;
}

.a5,
.a6,
.a7 {
    width: 33.33%;
    float: left;
}

.a8 {
    width: 66.66%;
    float: left;
}

.q3 {
    width: 33.33%;
    float: right;
}

.q5,
.q7 {
    width: 33.346%;
    float: left;
}

.ttt {
    width: 33.3%;
    float: right;
}

.container{
    margin:0;
    padding: 0;
    overflow:inherit;
    margin-top:-5%;
}
.item{
    margin-top:3.5%;
}

.price_header {
    margin-top: -4%;
    width: 100%;
}

.sidebar-buttom {
    text-align: center;
}

.sidebar {
    color: #fff;
    font-size: 10pt;
    text-align: center;
    margin: 10px;
    letter-spacing: 0.2em;
}

.price_left,.price_ps {
    width: 100%;
    float: left;
}

p {
	float: left;
    width: 600px;
    color: #fff;
    font-size: 8pt;
    line-height: 1.8em;
}
