body {
    background-color: #111;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
@font-face {
    font-family: Audi_normal;
    src: url(../font/AudiTypeV01-ExtendedNormal.otf);
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.audi_title {
    position: absolute;
    color: white;
    font-family: Audi_normal;
    font-size: 15pt;
/*    margin-top: 2.6%;*/
    line-height: 65px;
    letter-spacing: 0.1em;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar-brand img {
    height: 25px;
    margin-left: 20px;
}

.menu_title {
    float: right;
    margin-right: 30px;
}

.tt {
    color: #fff;
    margin-left: 20px;
    font-size: 10pt;
    font-family: Audi_normal;
}

.a1,.a3,.a4 {
    margin-top: -3.6%;
    width: 33.33%;
    float: left;
}

.a5 {
    width: 66.66%;
    float: left;
}

.a6 {
    width: 33.33%;
    float: left;

}

.a7,.a8,.q3 {
    width: 33.33%;
    float: right;
    /*margin-top: -2px;*/
}

.q7 {
    width: 33.33%;
    float: left;
    /*margin-top: -2px;*/
}


.ttt {
    width: 66.66%;
    float: right;
}

.a4_s {
    width: 100%;
    float: right;
    margin-top: -2.6%;
}

.a4_a {
    width: 100%;
    float: right;
}

.container {
    margin: 0;
    padding: 0;
    overflow: inherit;
    margin-top: -2.6%;
}

.item {
    margin-top: 4%;
}

.price_header {
    margin-top: -4%;
    width: 100%;
}

.sidebar-buttom {
    text-align: center;
}

.ss {
    margin-left: 26%;
    margin-top: 1%;
}

.sidebar {
    color: #ccc;
    transition: 1s;
    font-size: 13pt;
    text-align: center;
    margin: 10px;
    letter-spacing: 0.2em;
    
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    transition: 1s;
     color: #fff;
    background-color: inherit;
    border-bottom: 1.5px solid white;
    border-radius: 0;
}


.nav>li>a {

    padding: 1em 0px .3em;
}

a {
    background-color: inherit;
    color: #fff;
}

.price_left,
.price_ps {
    width: 100%;
    float: left;
}

p {
    float: left;
    width: 600px;
    color: #fff;
    font-size: 8pt;
    line-height: 1.8em;
}

.spe_title {
    width: 100%;
    z-index: 5;
    position: absolute;
    top: 0px;
    /*position: fixed;*/
}

.spe_left {
    padding-top: 50px;
    background-color: #EFEFEF;
    width: 140px;
    height: 655px;
    float: left;
    /*    margin-top: -4%;*/
    z-index: 4;
    /*position: fixed;*/
}

.spe_left_li a{
    font-size: 18px;
    /*line-height: 2.5em;*/
    margin-left: 25%;
    z-index: 4;
    letter-spacing: 0.07em;
    color: #111;
    
}

.spe_left_li a.touch {
    background-color: inherit;
    border-bottom: 2px solid black;
}

.spe_left_li_air {
    margin-top: 13px;
    letter-spacing: 0em;
    font-size: 16px;
    z-index: 4;
    line-height: 1.2em;
}

.spe_right_form {
    padding-top: 50px;
    width: calc(100% - 140px);
    float: left;
    background-color: #fff;
    height: 655px;
    /*    margin-top: -4%;*/
    /*    margin-top: -79.6%;*/
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
}

.spe_right_form img {
    padding-top: 60px;
    vertical-align: top;
}
.spe_right_form a[id="03"] img{
    padding-bottom: 50px;
}
.spe_right_form a[id="04"] img{
    padding-bottom: 160px;
}
.spe_right_form a:last-of-type img{
    padding-bottom: 60px;
}
.spe_right1 {
    width: 100%;
    z-index: 1;
}

.spe_right {
    width: 100%;
    z-index: 1;
}
.navbar.navbar-inverse{
    min-height: 65px;
}
.navbar-toggle{
    margin-top: 12px;
    margin-right: 17px;
}
.navbar-brand{
    margin-top: 5px;
}

