.t1 {
    z-index: 3;
    margin-top: 85px;
    margin-left: -3000px;
    -webkit-animation-name: t1;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t1;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}

@keyframes t1 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 190px;
        margin-left: 411px;
    }
}

@-webkit-keyframes t1 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 190px;
        margin-left: 411px;
    }
}

.t2 {
    z-index: 3;
    margin-top: 85px;
    margin-left: -3000px;
    -webkit-animation-name: t2;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t2;
    animation-duration: 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t2 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 180px;
        margin-left: 541px;
    }
}

@-webkit-keyframes t2 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 180px;
        margin-left: 541px;
    }
}

.t3 {
    z-index: 3;
    margin-top: 85px;
    margin-left: 3000px;
    -webkit-animation-name: t3;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t3;
    animation-duration: 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t3 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 170px;
        margin-left: 601px;
    }
}

@-webkit-keyframes t3 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 170px;
        margin-left: 601px;
    }
}
.t4 {
    z-index: 3;
    margin-top: 85px;
    margin-left: 3000px;
    -webkit-animation-name: t4;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.7s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t4;
    animation-duration: 0.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t4 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 175px;
        margin-left: 731px;
    }
}

@-webkit-keyframes t4 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 175px;
        margin-left: 731px;
    }
}
.t5 {
    z-index: 3;
    margin-top: 185px;
    margin-left: -3000px;
    -webkit-animation-name: t5;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.7s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t5;
    animation-duration: 0.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t5 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 185px;
        margin-left: 470px;
    }
}

@-webkit-keyframes t5 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 185px;
        margin-left: 470px;
    }
}

.t6 {
    z-index: 3;
    margin-top: 200px;
    margin-left: -3000px;
    -webkit-animation-name: t6;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t6;
    animation-duration: 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t6 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 200px;
        margin-left: 560px;
    }
}

@-webkit-keyframes t6 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 200px;
        margin-left: 560px;
    }
}
.t7 {
    z-index: 4;
    margin-top: 200px;
    margin-left: -3000px;
    -webkit-animation-name: t7;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t7;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t7 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 200px;
        margin-left: 660px;
    }
}

@-webkit-keyframes t7 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 200px;
        margin-left: 660px;
    }
}
.t8 {
    z-index: 4;
    margin-top: 205px;
    margin-left: 3000px;
    -webkit-animation-name: t8;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t8;
    animation-duration: 0.3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t8 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 205px;
        margin-left: 760px;
    }
}

@-webkit-keyframes t8 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 205px;
        margin-left: 760px;
    }
}
.t9 {
    z-index: 3;
    margin-top: 245px;
    margin-left: -3000px;
    -webkit-animation-name: t9;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t9;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t9 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 245px;
        margin-left: 400px;
    }
}

@-webkit-keyframes t9 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 245px;
        margin-left: 400px;
    }
}
.t10 {
    z-index: 3;
    margin-top: 235px;
    margin-left: 3000px;
    -webkit-animation-name: t10;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.8s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t10;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t10 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 235px;
        margin-left: 700px;
    }
}

@-webkit-keyframes t10 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 235px;
        margin-left: 700px;
    }
}
.t11 {
    z-index: 3;
    margin-top: 225px;
    margin-left: 3000px;
    -webkit-animation-name: t11;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.8s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t11;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t11 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 225px;
        margin-left: 440px;
    }
}

@-webkit-keyframes t11 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 225px;
        margin-left: 440px;
    }
}
.t12 {
    z-index: 3;
    margin-top: 215px;
    margin-left: -3000px;
    -webkit-animation-name: t12;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.8s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t12;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t12 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 215px;
        margin-left: 640px;
    }
}

@-webkit-keyframes t12 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 215px;
        margin-left: 640px;
    }
}

.t13 {
    z-index: 3;
    margin-top: 265px;
    margin-left: -3000px;
    -webkit-animation-name: t13;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t13;
    animation-duration: 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t13 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 265px;
        margin-left: 440px;
    }
}

@-webkit-keyframes t13 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 265px;
        margin-left: 440px;
    }
}
.t14 {
    z-index: 3;
    margin-top: 235px;
    margin-left: -3000px;
    -webkit-animation-name: t14;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t14;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t14 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 235px;
        margin-left: 580px;
    }
}

@-webkit-keyframes t14 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 235px;
        margin-left: 580px;
    }
}

.t15 {
    z-index: 3;
    margin-top: 275px;
    margin-left: 3000px;
    -webkit-animation-name: t15;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.8s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t15;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t15 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 275px;
        margin-left: 680px;
    }
}

@-webkit-keyframes t15 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 275px;
        margin-left: 680px;
    }
}

.t16 {
    z-index: 4;
    margin-top: 275px;
    margin-left: 3000px;
    -webkit-animation-name: t16;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t16;
    animation-duration: 0.6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t16 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 275px;
        margin-left: 510px;
    }
}

@-webkit-keyframes t16 {
    0% {
        margin-left: 3000px;
    }
    100% {
        margin-top: 275px;
        margin-left: 510px;
    }
}
.t17 {
    z-index: 4;
    margin-top: 295px;
    margin-left: -3000px;
    -webkit-animation-name: t17;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t17;
    animation-duration: 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t17 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 295px;
        margin-left: 610px;
    }
}

@-webkit-keyframes t17 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 295px;
        margin-left: 610px;
    }
}

.t18 {
    z-index: 4;
    margin-top: 305px;
    margin-left: -3000px;
    -webkit-animation-name: t18;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.8s;
    /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-name: t18;
    animation-duration: 0.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes t18 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 305px;
        margin-left: 740px;
    }
}

@-webkit-keyframes t18 {
    0% {
        margin-left: -3000px;
    }
    100% {
        margin-top: 305px;
        margin-left: 740px;
    }
}
