body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

img {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

	.kv {


	}

	.logo {
		width: 20%;
		padding-top: 3%;
		z-index: 3;

	}

	.title {
		width: 50%;
		padding-top: 5%;


	}

	.link-a{
		width: 20%;
		padding-top: 35%;
		z-index: 2;
	}

	.link-b{
		width: 20%;
		padding-top: 42%;

	}

@media only screen and (max-width: 600px) {
 
 	.kv {


	}

	.logo {
		width: 50%;
		padding-top: 10%;
		z-index: 3;

	}

	.title {
		width: 135%;
		padding-top: 15%;

	}

	.link-a{
		width: 65%;
		padding-top: 105%;
		z-index: 2;
	}

	.link-b{
		width: 65%;
		padding-top: 130%;

	}

}