body
{
	margin: 0;
	padding: 0;
	background-color: #000000;
}
section
{
	width: 100%;
	min-height: 550px;
}
.wave
{
	position: relative;
	background: linear-gradient(160deg,#ffffff 0%,#E2C3AE 35%,#967560 100%);
}
.wave:before
{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 250px;
	background: url(wave.png);
	background-size: cover;
}
.kv{
	position: absolute;
	width: 65%;
	top:10%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
}