* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}


img {
    height: 100vh;
}

.box1 {
    position: fixed; 
    height: 100vh;
    width: 20px;
    background-color: rgb(1, 78, 108);
}

#my_length {
    height: 400vh;
}




button.rotate_text {
    height: 50px;
    width: 16.5vh;
    background-color: rgb(250, 201, 13);
    color: rgb(1, 78, 108);
    border-radius: 20px;
    left: calc(-100vh * 1 / 12 + 35px);
    top: calc(100vh * 1 / 12 + -25px);
    transform: rotate(90deg);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    /* font-size: 1em; */
    letter-spacing: 1px;
}

button div {
    flex-flow: nowrap;
}

.MOA {
    position: fixed;
    top: calc(100vh * 0 / 6);
}

.study_design {
    position: fixed;
    top: calc(100vh * 1 / 6);
}

.efficacy {
    position: fixed;
    top: calc(100vh * 2 / 6);
}

.safety {
    position: fixed;
    top: calc(100vh * 3 / 6);
}

.dosing {
    position: fixed;
    top: calc(100vh * 4 / 6);
}

.information {
    position: fixed;
    top: calc(100vh * 5 / 6);
}

#active_box {

    margin-left: 0px;
    /* font-size: 1em; */
}

#active_box div {
    padding: 3px;
    flex-flow: row nowrap;
    display: flex;
    justify-content: center;
}

.span {
    transform: translateY(0%);
    position: relative;
    border: 1px solid red;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

/* .box2.rotate_text  */
.btn_active {
    height: 70px;
    width: 16.5vh;
    background-color: rgb(1, 78, 108);
    color: rgb(250, 201, 13);
    border-radius: 20px 20px 0px 0px;
    left: calc(-100vh * 1 / 12 + 35px);
    top: calc(100vh * 1 / 12 + -35px);
    transform: rotate(90deg);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    /* font-size: 1em; */
    letter-spacing: 1px;
    text-align: center;
}
.span-show{
	width: 200px;
	position: absolute;
    display: flex;
    justify-content: center;
	bottom: -67.5vh ;
	transform: rotate(0deg);
}

#btn1 .span-show{
	left: calc(100vh * 3 / 6 - 100px );
}
#btn2 .span-show{
	left: calc(100vh * 2 / 6 - 100px );
}
#btn3 .span-show{
	left: calc(100vh * 1 / 6 - 100px );
}
#btn4 .span-show{
	left: calc(100vh * 0 / 6 - 100px );
}
#btn5 .span-show{
	left: calc(100vh * -1 / 6 - 100px );
}
#btn6 .span-show{
	left: calc(100vh * -2 / 6 - 100px );
}

.span-none {
    display: none;
    justify-content: center;
	left: 20px;
	transform: rotate(0deg);
}

span.active {
    background-color: red;
}