#content {
    width: 68.3vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* border: 1px solid black; */
}

#imgs {
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
    width: 68.3vh;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    /*apply a transform to kick in the hardware acceleration.  Without this, the first
    time we add the transform you get odd rendering of the divs (half missing) */
    transform: translate(0, 0);
}

#imgs img {
    padding: 0;
    margin: 0;
    width: 68.3vh;
    /* height: 99.61vh; */
    height: calc(100vh - 4px);
    /*apply a transform to kick in the hardware acceleration.  Without this, the first
    time we add the transform you get odd rendering of the divs (half missing) */
    transform: translate(0, 0);
}

@media screen and (max-width:450px) {
    #content {
        width: 100vw;
        height: 100vh;
    }

    #imgs img {
        width: 100vw;
    }
}