html,
body {
    padding: 0;
    margin: 0;
}

body {
    overflow: auto;
    height: 2700px;
}

#skrollr-body {
    width: 100%;
    height: 100%;
    position: fixed;
}

#skrollr-body div {
    overflow: hidden;
    position: absolute;
}

.centered {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo img {
    position: fixed;
    width: 27%;
    top: 8%;
    left: 5%;
    z-index: 100;
}

#pic1 {
    background-image: url("../images/pic/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 70;
}

#pic2 {
    background-image: url("../images/pic/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 69;
}

#pic3 {
    background-image: url("../images/pic/3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 68;
}

#pic4 {
    background-image: url("../images/pic/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 67;
}

#pic5 {
    background-image: url("../images/pic/5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 66;
}

#pic6 {
    background-image: url("../images/pic/6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 65;
}

#pic7 {
    background-image: url("../images/pic/7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 64;
}

#pic8 {
    background-image: url("../images/pic/8.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 63;
}

#pic9 {
    background-image: url("../images/pic/9.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 62;
}

#pic10 {
    background-image: url("../images/pic/10advertisement.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 61;
}

#pic11 {
    background-image: url("../images/pic/11.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 60;
}

#pic12 {
    background-image: url("../images/pic/12.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 59;
}

#pic13 {
    background-image: url("../images/pic/13.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 58;
}

#pic14 {
    background-image: url("../images/pic/14.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 57;
}

#pic15 {
    background-image: url("../images/pic/15.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 56;
}

#pic16 {
    background-image: url("../images/pic/16.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 55;
}

#pic17 {
    background-image: url("../images/pic/17.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 54;
}

#pic18 {
    background-image: url("../images/pic/18collection.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 53;
}

#pic19 {
    background-image: url("../images/pic/19.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 52;
}

#pic20 {
    background-image: url("../images/pic/20.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 51;
}

#pic21 {
    background-image: url("../images/pic/21.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 50;
}

#pic22 {
    background-image: url("../images/pic/22.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 49;
}

#pic23 {
    background-image: url("../images/pic/23.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 48;
}

#pic24 {
    background-image: url("../images/pic/24.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 47;
}

#pic25 {
    background-image: url("../images/pic/25.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 46;
}

#pic26 {
    background-image: url("../images/pic/26.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 45;
}

#pic27 {
    background-image: url("../images/pic/27film.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 44;
}

#pic28 {
    background-image: url("../images/pic/28.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 43;
}

#pic29 {
    background-image: url("../images/pic/29.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 42;
}

#pic30 {
    background-image: url("../images/pic/30.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 41;
}

#pic31 {
    background-image: url("../images/pic/31.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 40;
}

#pic32 {
    background-image: url("../images/pic/32.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 39;
}

#pic33 {
    background-image: url("../images/pic/33project.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 38;
}

#pic34 {
    background-image: url("../images/pic/34.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 37;
}

#pic35 {
    background-image: url("../images/pic/35.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 36;
}

#pic36 {
    background-image: url("../images/pic/36.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 35;
}

#pic37 {
    background-image: url("../images/pic/37.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 34;
}

#pic38 {
    background-image: url("../images/pic/38press.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 33;
}

#pic39 {
    background-image: url("../images/pic/39.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 32;
}

#pic40 {
    background-image: url("../images/pic/40.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 31;
}

#pic41 {
    background-image: url("../images/pic/41.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 30;
}

#pic42 {
    background-image: url("../images/pic/42.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 29;
}

#pic43 {
    background-image: url("../images/pic/43.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 28;
}

#pic44 {
    background-image: url("../images/pic/44.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 27;
}

#pic45 {
    background-image: url("../images/pic/45.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 26;
}

#pic46 {
    background-image: url("../images/pic/46.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 25;
}

#pic47 {
    background-image: url("../images/pic/47.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 24;
}

#pic48 {
    background-image: url("../images/pic/48.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 23;
}

#pic49 {
    background-image: url("../images/pic/49.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 22;
}

#pic50 {
    background-image: url("../images/pic/50.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 21;
}

#pic51 {
    background-image: url("../images/pic/51.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 20;
}

#pic52 {
    background-image: url("../images/pic/52.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 19;
}

#pic53 {
    background-image: url("../images/pic/53.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 18;
}

#pic54 {
    background-image: url("../images/pic/54.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 17;
}

#pic55 {
    background-image: url("../images/pic/55.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 16;
}

#pic56 {
    background-image: url("../images/pic/56about.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 15;
}

#pic57 {
    background-image: url("../images/pic/57.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 14;
}

#pic58 {
    background-image: url("../images/pic/58.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 13;
}

#pic59 {
    background-image: url("../images/pic/59.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 12;
}

#pic60 {
    background-image: url("../images/pic/60.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 11;
}

#pic61 {
    background-image: url("../images/pic/61.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}

#pic62 {
    background-image: url("../images/pic/62.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 8;
}

#pic63 {
    background-image: url("../images/pic/63.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 7;
}

#pic64 {
    background-image: url("../images/pic/64.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 6;
}

#pic65 {
    background-image: url("../images/pic/65.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
}

#pic66 {
    background-image: url("../images/pic/66contact.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 4;
}
