<template name="_header">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">
          <img src="/images/kv_small.png">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        <!-- {{#if currentUser}}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ currentUser.profile.name }} <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-action="logout"><i class="fa fa-lock"></i> Sign Out</a></li>
              </ul>
            </li>
          </ul>
        {{else}}
          <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>
          </div>
        {{/if}} -->
        <ul class="nav navbar-nav navbar-right">
          <div class="nav text">
            106 年資訊月智慧政府館
            <img src="/images/國家發展委員會.png" alt="">
          </div>
          <!-- <li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}"><i class="fa fa-home"></i> Home</a></li> -->
          <li class="{{ isActiveRoute regex='visitInfo' }}"><a href="{{ pathFor 'visitInfo' }}">參觀資訊</a></li>
          <li class="{{ isActiveRoute regex='siteIntro' }}"><a href="{{ pathFor 'siteIntro' }}">場地介紹</a></li>
          <li class="{{ isActiveRoute regex='activities' }}"><a href="{{ pathFor 'activities' }}">活動流程</a></li>
          <li class="{{ isActiveRoute regex='smartShow' }}"><a href="{{ pathFor 'prepare' }}">智慧展出</a></li>
          <li class="{{ isActiveRoute regex='treasureHunt' }}"><a href="{{ pathFor 'treasureHunt' }}">尋寶活動</a></li>
          <li class="{{ isActiveRoute regex='content' }}"><a href="{{ pathFor 'prepare' }}">精彩內容</a></li>

          <!-- <li class="{{ isActiveRoute regex='visitInfo' }}"><a href="{{ pathFor 'visitInfo' }}">參觀資訊</a></li>
          <li class="{{ isActiveRoute regex='siteIntro' }}"><a href="{{ pathFor 'siteIntro' }}">場地介紹</a></li>
          <li class="{{ isActiveRoute regex='activities' }}"><a href="{{ pathFor 'activities' }}">活動流程</a></li>
          <li class="{{ isActiveRoute regex='smartShow' }}"><a href="{{ pathFor 'smartShow' }}">智慧展出</a></li>
          <li class="{{ isActiveRoute regex='treasureHunt' }}"><a href="{{ pathFor 'treasureHunt' }}">尋寶活動</a></li>
          <li class="{{ isActiveRoute regex='content' }}"><a href="{{ pathFor 'content' }}">精彩內容</a></li> -->
        </ul>
      </div>
      <!-- <div class="navbar-right">
            <a href="{{ pathFor 'atSignIn' }}" class="btn btn-default navbar-btn">Sign in</a>
            <a href="{{ pathFor 'atSignUp' }}" class="btn btn-primary navbar-btn">Register</a>
          </div> -->
  </nav>

</template>
