<template name="appLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->

  {{> _header}}

  {{> yield}}

  {{> _footer}}
</template>
<template name="appLayout-game">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <!-- <div class="game-bg"> -->
  <style>
    body{
    background: linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
      background: -moz-linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
      background: -webkit-linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
      background: -o-linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
    }

  </style>

    {{> _header}}

    {{> yield}}

    {{> _footer}}
  <!-- </div> -->
  

 <!--  <style>
    body{
      background: #eee;
    }
  </style> -->
</template>

<template name="blankLayout">
  <!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <style>
    body{
    background: linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
      background: -moz-linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
      background: -webkit-linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
      background: -o-linear-gradient(#1B175D 0%, #0F3A69 30%, #035B75 100%);
    }

  </style>
  {{> yield}}

</template>

