@media only screen and (min-width:1921px) {
    h1 {
        font-size: 15px !important;
    }
    p {
        font-size: 14px !important;
    }
    #about h1 {
        font-size: 16px !important;
    }
    #about p {
        font-size: 15px !important;
        line-height: 1.6em !important;
    }
    .about-content {
        position: absolute;
        top: 60% !important;
        right: 10% !important;
    }
    iframe {
        width: 400% !important;
        height: 625px !important;
    }
    .v {
        margin-left: 23% !important;
        margin-top: 14% !important;
    }
}
